body {
  font-family: "Architects Daughter", cursive;
  background: radial-gradient(
    circle at 7.4% 45.1%,
    rgb(236, 206, 251) 0%,
    rgb(205, 237, 246) 45.1%,
    rgb(227, 251, 252) 78.4%,
    rgb(230, 247, 235) 90%
  );
}

h1,
header {
  text-align: center;
  margin: 10px 0px 0px 5px;
}

header {
  font-size: 40px;
}
ul {
  font-size: 30px;
  list-style: none;
  position: relative;
  left: 50px;
  bottom: 140px;
  text-transform: capitalize;
}

.weather-app {
  border: 10px solid lightblue;
  max-width: 1000px;
  max-height: 800px;
  margin: 20px auto;
  padding: 20px;
}

.player {
  position: relative;
  bottom: 150px;
}
.time {
  position: relative;
  text-align: right;
  font-size: 65px;
  left: -10px;
  bottom: 150px;
}
.icon {
  position: relative;
  bottom: 290px;
  left: 500px;
}
.current {
  position: relative;
  text-align: right;
  bottom: 440px;
  font-size: 75px;
  right: 100px;
  color: #cab8ff;
  text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
}
.row {
  text-align: center;
  position: relative;
  bottom: 290px;
  left: 60px;
}
.list-group {
  border: solid;
  color: lightblue;
}

.day {
  color: #1e2a78;
}
.temp-max {
  color: #7c83fd;
  text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
}

.temp-min {
  color: #6f69ac;
  text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
}

.search,
.btn-primary {
  position: relative;
  bottom: 400px;
  left: 250px;
  font-size: 30px;
}

.btn-success {
  position: relative;
  bottom: 350px;
  right: 150px;
}

.btn-secondary {
  position: relative;
  right: 540px;
  bottom: 390px;
  font-size: 45px;
}
.btn-warning {
  position: relative;
  right: -35px;
  bottom: 390px;
  font-size: 45px;
}

.info {
  text-align: center;
  position: relative;
  bottom: 370px;
}
